# dependencies
node_modules/
**/node_modules/

# builds
dist/
**/dist/
*.tsbuildinfo

# env & secrets
.env
**/.env
!**/.env.example

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db
